<div class="overlay"></div>

<div class="menuicon float-right" (click)="openNav()" *ngIf="isLoggedIn()">
    <div></div>
    <div></div>
    <div></div>
</div>


<form [formGroup]="radioGroupForm" class="float-right main-action">
  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">
    <label ngbButtonLabel class="btn-primary" *ngIf="!isLoggedIn()">
      <input ngbButton type="radio" value="home">Home
    </label>
    <label ngbButtonLabel class="btn-primary" *ngIf="!isLoggedIn()">
      <input ngbButton type="radio" value="signup">Sign Up
    </label>
    <label ngbButtonLabel class="btn-primary" *ngIf="!isLoggedIn()">
      <input ngbButton type="radio" value="signin">Sign In
    </label>
    <label ngbButtonLabel class="btn-primary" *ngIf="isLoggedIn()">
      <input ngbButton type="radio" value="signout">Sign Out
    </label>
  </div>
</form>


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a class="nav-link" routerLink="home" routerLinkActive="active" (click)="closeNav()">Food Items</a>
  <a class="nav-link" routerLink="about" routerLinkActive="active" (click)="closeNav()">Orders</a>
  <a class="nav-link" routerLink="contact" routerLinkActive="active" (click)="closeNav()">Credits</a>
</div>

<div class="row">
  <div class="col-md-1">
    <img src="../assets/logo.png" width="80px" height="100px">
  </div>
  <div class="col-md-5">
    <div class="logoText">My Mother's Food</div>
    <h5>{{getWelcomeMessage()}}</h5>
  </div>
  <div class="col-md-1 offset-md-5">
    <div class="cart" *ngIf="isLoggedIn()" (click)="showCart()">{{data.getTotalItemInCart()}}</div>      
  </div>
</div>


<div id="main">
  <router-outlet></router-outlet>
</div>
