
<div class="loaderOverlay"  *ngIf="loading">
  <div class="loader align-middle"></div>>
</div>

<div class="row supplier-list">
  <div class="col-sm-3 col-md-3" *ngFor="let supplier of supplierList">
    <hr/>
    <div class="thumbnail" (click)="showMenu(supplier)">
      <div class="supplier-list-container">
        <img src="../assets/logow.png" alt="Image Not Found" width="512" height="512" class="img-thumbnail">
      </div>
      <div class="caption">

        <div class="float-left">{{(supplier.first_name) | capitalize}}</div>
        <small class="float-right">{{(supplier.distance / 1000 / 1.6)  | number}} mi</small>
        <br/>
        <div class="float-left">{{(supplier.last_name) | capitalize}}</div>        
      </div>
    </div>
  </div>
